<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.android.imhome">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
            android:allowBackup="false"
            android:icon="@drawable/ic_home"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".BaseActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".HomeActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".myhome.MyHomeSettingActivity"
                android:screenOrientation="portrait"/>

        <service
                android:name=".myhome.GeofenceTransitionsIntentService"
                android:exported="true"
                android:enabled="true"
                android:permission="android.permission.BIND_JOB_SERVICE"/>

        <receiver
                android:name=".myhome.GeofenceBroadcastReceiver"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="com.example.geofence.ACTION_RECEIVE_GEOFENCE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>